

<div class="row">
    <div class=" col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Edit Employee </h3>
            <hr />
            <div class="card-body">
                <form [formGroup]="checkForm" (ngSubmit)="save()">

                    <label for="name">Name:</label><br>
                    <input type="text" id="name" formControlName="name" minlength="3"><br>
                    <span *ngIf="formSubmitted && checkForm.get('name').hasError('required')" >
                      * name is required
                   </span>
                   <span *ngIf="formSubmitted && checkForm.get('name').hasError('minlength')" >
                    * name is must be lengh is 3
                  </span>
                   <span *ngIf="formSubmitted && checkForm.get('name').hasError('pattern')" >
                    * name is not valid 
                  </span><br>
                    <label for="email">Email :</label><br>
                    <input type="text" id="email" formControlName="email" ><br>
                    <span *ngIf="formSubmitted && checkForm.get('email').hasError('required')" >
                     * email is required
                  </span>
                  
                  <span *ngIf="formSubmitted && checkForm.get('email').hasError('email')" >
                    * email is not valid
                  </span><br>
                    <label for="mobile">Mobile No:</label><br>
                    <input type="text" id="mobile" formControlName="mobile" minlength="10" maxlength="10"><br>
                    <span *ngIf="formSubmitted && checkForm.get('mobile').hasError('required')" >
                      * mobile is required
                   </span>
                 <span *ngIf="formSubmitted && checkForm.get('mobile').hasError('pattern') " >
                    * Enter valid mobile number of 10 digit
                 </span><br>
                 <label for="Address">Address:</label><br>
                 <input type="text" id="Address" formControlName="address" ><br>
                 <span *ngIf="formSubmitted && checkForm.get('address').hasError('required')" >
                   * gender is required
                </span><br>
                    <label for="gender">Gender:</label><br>
                    <input type="text" id="gender" formControlName="gender" ><br>
                    <span *ngIf="formSubmitted && checkForm.get('gender').hasError('required')" >
                      * gender is required
                   </span><br>
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
