
<a [routerLink]="['/add']" class="btn btn-primary">Add</a>
<br />
<br />


<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>MobileNo.</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let employee of employeeList">
      <td [title]="employee.id "> {{ employee.id }} </td>
      <td [title]="employee.name "> {{ employee.name | uppercase }}</td>
      <td [title]="employee.email "> {{ employee.email }} </td>
      <td [title]="employee.mobile "> {{ employee.mobile }}</td>
      <td [title]="employee.gender ">{{ employee.gender }} </td>
      <td> <a  [routerLink]="['/edit',employee.id]" class="btn btn-primary">Edit</a></td>
    <td> <button type="button" class="btn btn-warning" (click)="remove(employee.id)"> Remove</button></td> 
    </tr>
   
  </table> 